<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<CONFIG>
    <DATABASE>
        <TYPE>mysql</TYPE>
        <NAME>exam_system</NAME>
        <HOST>172.20.94.24</HOST>
        <PORT>3306</PORT>
        <USERNAME ENCRYPTED="yes">BVyeRs/tpxJ3S2KEq9C+3g==</USERNAME>
        <PASSWORD ENCRYPTED="yes">gf+WU1r+azfuGIJ27IhyLg==</PASSWORD>
    </DATABASE>
    <API>
        <host>localhost</host>
        <port>2000</port>
    </API>
</CONFIG>